* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  text-align: center;
  background: linear-gradient(
    rgba(19, 112, 235, 0.459),
    rgba(46, 130, 255, 0.8)
  );

  min-height: 100vh;
  max-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  color: #fff;
  font-size: 2.6rem;
  padding: 1.2rem;
}
h2 {
  color: #fff;
  font-size: 1.3rem;
  padding: 0.8rem;
}
.container {
  width: 65vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.btn {
  display: inline-block;

  cursor: pointer;
  background-color: #007dd7;
  color: #fff;
  border: none;
  outline: none;
  height: 3.5rem;
  width: 6rem;
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  // border-radius: 2rem;
}
.btn:hover {
  background-color: #0563a5;
}
.btn:active {
  background-color: #044b7e;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1rem;
}
.form {
  display: flex;
}
.input-group {
  position: relative;
  width: 38rem;
  height: 3.5rem;
  display: flex;
  & label {
    margin: 2rem;
    z-index: 3;
  }
  & input {
    border-radius: 2rem;
    padding: 1.7rem;
    font-size: 1rem;
    border: none;
    outline: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  & .btn {
    margin: 0;
    position: absolute;
    z-index: 1;
    background-color: #8abf2e;
    right: 0;
    top: 0;
    bottom: 0;
  }
  & .btn:hover {
    background-color: #74b800;
  }
  & .btn:active {
    background-color: #4c7701;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  & .wrapper {
    padding: 1rem 1.5rem;
  }

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  p {
    margin: 0.5rem;
  }
  background-color: #fff;
  color: rgb(68, 68, 68);
  margin-top: 3rem;
  border-radius: 5px;
}

// should add some mediaqueries for responsive view
